$primaryColor: #2c50ff;
@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(/assets/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(/assets/MaterialIcons-Regular.woff2) format("woff2"),
    url(/assets/MaterialIcons-Regular.woff) format("woff"),
    url(/assets/MaterialIcons-Regular.ttf) format("truetype");
}

@font-face {
  font-family: SVN-Gilroy;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/SVN-Gilroy-Regular.woff2) format("woff2");
}

@font-face {
  font-family: SVN-Gilroy;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/SVN-Gilroy-Medium.woff2) format("woff2");
}

@font-face {
  font-family: SVN-Gilroy;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/assets/SVN-Gilroy-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: SVN-Gilroy;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/SVN-Gilroy-Bold.woff2) format("woff2");
}

.primary-color {
  color: $primaryColor;
}

body {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: SVN-Gilroy, -apple-system, BlinkMacSystemFont, San Francisco,
    Roboto, Segoe UI, Helvetica Neue, sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.menu {
  margin-bottom: 15px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.menu-item {
  position: relative;
  display: block;
  padding: 8px 10px;
  border-bottom: 1px solid #e0e0e0;
}

.menu-item:first-child {
  border-top: 0;
  border-top-right-radius: 2px;
}

.menu-item:first-child,
.menu-item:first-child:before {
  border-top-left-radius: 2px;
}

.menu-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 2px;
}

.menu-item:last-child,
.menu-item:last-child:before {
  border-bottom-left-radius: 2px;
}

.menu-item:hover {
  text-decoration: none;
  background-color: #f1f1f2;
}

.menu-item.selected {
  font-weight: 600;
  color: #222;
  cursor: default;
  background-color: #fff;
}

.menu-item.selected:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  content: "";
  background-color: #3b03a8;
}

.menu-item .menu-warning {
  float: right;
  color: #3d1111;
}

.menu-item .avatar {
  float: left;
  margin-right: 5px;
}

.menu-heading {
  display: block;
  padding: 8px 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #8f8f8f;
  background-color: #eeeef0;
  border-bottom: 1px solid #e0e0e0;
}

.menu-heading:hover {
  text-decoration: none;
}

.menu-heading:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.menu-heading:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.navbar {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 16px 24px;
  line-height: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 80px;
  position: relative;
  z-index: 3;
  background-color: #fff;
}

@media (min-width: 768px) {
  .navbar {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.navbar__brand {
  display: inline-block;
  transition: opacity 0.2s linear;
}

.navbar__hamburger-return {
  opacity: 0;
  width: 0;
  border: 0;
  padding: 0;
  box-shadow: none;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-family: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Roboto,
    Segoe UI, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: opacity 0.2s linear;
}

.navbar__hamburger-return:before {
  content: " ";
  display: inline-block;
  margin-right: 8px;
  height: 0.57143em;
  width: 0.57143em;
  border-color: #4a4a4a;
  border-style: solid;
  border-width: 2px 0 0 2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navbar__hamburger-return:hover {
  -webkit-transform: none;
  transform: none;
  box-shadow: none;
  color: $primaryColor;
}

.navbar__hamburger-return:lang(vi) {
  font-family: SVN-Gilroy, -apple-system, BlinkMacSystemFont, San Francisco,
    Roboto, Segoe UI, Helvetica Neue, sans-serif;
}

.navbar__hamburger-return:lang(th) {
  font-family: Inter, Prompt, -apple-system, BlinkMacSystemFont, San Francisco,
    Roboto, Segoe UI, Helvetica Neue, sans-serif;
}

.navbar__hamburger {
  font-size: 2rem;
  width: 1em;
  height: 1em;
  color: #4a4a4a;
  margin-left: auto;
  border: 0;
  padding: 0;
  background: none;
  box-shadow: none;
}

.navbar__hamburger:hover {
  color: $primaryColor;
  -webkit-transform: none;
  transform: none;
  box-shadow: none;
}

@media (min-width: 768px) {
  .navbar__hamburger {
    display: none;
  }
}

.navbar__hamburger-indicator {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: currentColor;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 75ms;
}

.navbar__hamburger-indicator:after,
.navbar__hamburger-indicator:before {
  content: " ";
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  background-color: currentColor;
}

.navbar__hamburger-indicator:before {
  top: -0.3em;
  will-change: top;
  transition: top 75ms ease 0.12s, opacity 75ms ease;
}

.navbar__hamburger-indicator:after {
  bottom: -0.3em;
  will-change: bottom;
  transition: bottom 75ms ease 0.12s,
    -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s,
    transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s,
    transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19),
    -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.nav-menu {
  margin-left: auto;
  display: none;
  background-color: #fff;
  position: relative;
}

@media (min-width: 768px) {
  .nav-menu {
    display: block;
  }
}

.nav-menu__items {
  height: 100%;
  list-style: none;
  padding: 16px 8px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  transition: -webkit-transform 0.2s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1),
    -webkit-transform 0.2s cubic-bezier(0, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .nav-menu__items {
    height: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0;
  }
}

.nav-menu--hamburger {
  display: block;
  position: absolute;
  padding-top: 80px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (min-width: 768px) {
  .nav-menu--hamburger {
    display: none;
  }
}

.nav-menu--hamburger .nav-menu__item .btn {
  text-align: center;
  width: 100%;
}

.nav-menu__item--separator {
  padding: 0;
  border: solid #e0e0e0;
  border-width: 0 0 1px;
  height: auto;
  width: 100vw;
  margin: 12px -8px;
  pointer-events: none;
}

@media (min-width: 768px) {
  .nav-menu__item--separator {
    height: 3.42857em;
    width: auto;
    margin: 0 4px;
    border-right-width: 1px;
  }
}

.nav-menu__item + .nav-menu__item,
.nav-menu__item + .nav-submenu {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .nav-menu__item + .nav-menu__item,
  .nav-menu__item + .nav-submenu {
    margin-top: 0;
    margin-left: 4px;
  }
}

.nav-menu__item + .nav-menu__item--separator {
  margin-top: 12px;
}

@media (min-width: 768px) {
  .nav-menu__item + .nav-menu__item--separator {
    margin-top: 0;
    margin-left: 4px;
  }
}

.nav-menu__item--separator + .nav-menu__item,
.nav-menu__item--separator + .nav-submenu {
  margin-top: 0;
  margin-left: 0;
}

.nav-submenu,
.nav-submenu__item {
  list-style: none;
}

.nav-submenu {
  z-index: 2;
}

@media (min-width: 768px) {
  .nav-submenu {
    position: relative;
  }
}

.nav-submenu.is-open .nav-submenu__container {
  display: -webkit-flex;
  display: flex;
}

.nav-submenu.is-open .nav-submenu__title {
  background-color: #f3f5fd;
  color: $primaryColor;
}

.nav-submenu.is-open .nav-submenu__title:after {
  border-color: #4a4a4a;
}

@media (min-width: 768px) {
  .nav-submenu.is-open .nav-submenu__title:after {
    margin-top: 0.28571em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.nav-submenu__container {
  display: none;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #fff;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 768px) {
  .nav-submenu__container {
    -webkit-flex-direction: row;
    flex-direction: row;
    top: auto;
    right: auto;
    left: 50%;
    width: auto;
    min-height: auto;
    margin-top: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.nav-submenu__title {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
}

.nav-submenu__title:after {
  content: " ";
  display: inline-block;
  height: 0.57143em;
  width: 0.57143em;
  margin-left: auto;
  border-color: #757575;
  border-style: solid;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (min-width: 768px) {
  .nav-submenu__title:after {
    margin-left: 8px;
    margin-top: -0.28571em;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

.nav-submenu__items {
  list-style: none;
  padding: 16px;
  width: 100%;
}

@media (min-width: 768px) {
  .nav-submenu__items {
    width: 310px;
  }
}

.nav-submenu__item .btn--link {
  font-family: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Roboto,
    Segoe UI, Helvetica Neue, sans-serif;
  color: #757575;
  font-weight: 500;
}

.nav-submenu__item .btn--link:hover {
  text-decoration: underline;
  background: none;
}

.nav-submenu__item .btn--link:lang(vi) {
  font-family: SVN-Gilroy, -apple-system, BlinkMacSystemFont, San Francisco,
    Roboto, Segoe UI, Helvetica Neue, sans-serif;
}

.nav-submenu__item .btn--link:lang(th) {
  font-family: Inter, Prompt, -apple-system, BlinkMacSystemFont, San Francisco,
    Roboto, Segoe UI, Helvetica Neue, sans-serif;
}

.nav_submenu__item-icon {
  margin-top: 2px;
  margin-right: 8px;
}

.nav-submenu__item-subtitle {
  margin-bottom: 0;
  margin-top: 4px;
  color: #757575;
  font-size: 12px;
}

.nav-submenu__aside {
  padding: 24px;
  border-top: 1px solid #e0e0e0;
}

@media (min-width: 768px) {
  .nav-submenu__aside {
    width: 310px;
    border-top: 0;
    border-left: 1px solid #e0e0e0;
  }
}

.nav-submenu + .nav-menu__item,
.nav-submenu + .nav-submenu,
.nav-submenu__item + .nav-submenu__item {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .nav-submenu + .nav-menu__item,
  .nav-submenu + .nav-submenu {
    margin-top: 0;
    margin-left: 4px;
  }
}

.nav {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar__brand--sticky,
.navbar__sticky-ctas {
  display: none;
}

.navbar__sticky-ctas {
  margin-left: auto;
}

.nav--sticky .nav-menu,
.nav--sticky .navbar__brand,
.nav--sticky .navbar__hamburger {
  display: none;
}

.nav--sticky .navbar__brand--sticky,
.nav--sticky .navbar__sticky-ctas {
  display: block;
}

.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #fff;
  color: #222;
  position: relative;
  display: inline-block;
  padding: 8px 12px;
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, San Francisco, Roboto,
    Segoe UI, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  will-change: transform, box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1),
    background-color 0.2s cubic-bezier(0, 0, 0.2, 1),
    color 0.2s cubic-bezier(0, 0, 0.2, 1),
    -webkit-transform 0.2s cubic-bezier(0, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1),
    transform 0.2s cubic-bezier(0, 0, 0.2, 1),
    background-color 0.2s cubic-bezier(0, 0, 0.2, 1),
    color 0.2s cubic-bezier(0, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1),
    transform 0.2s cubic-bezier(0, 0, 0.2, 1),
    background-color 0.2s cubic-bezier(0, 0, 0.2, 1),
    color 0.2s cubic-bezier(0, 0, 0.2, 1),
    -webkit-transform 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.btn:visited,
button:visited,
input[type="button"]:visited,
input[type="reset"]:visited,
input[type="submit"]:visited {
  color: #222;
}

.btn.is-active,
.btn.is-disabled,
.btn.is-hovered,
.btn:active,
.btn:disabled,
.btn:hover,
button.is-active,
button.is-disabled,
button.is-hovered,
button:active,
button:disabled,
button:hover,
input[type="button"].is-active,
input[type="button"].is-disabled,
input[type="button"].is-hovered,
input[type="button"]:active,
input[type="button"]:disabled,
input[type="button"]:hover,
input[type="reset"].is-active,
input[type="reset"].is-disabled,
input[type="reset"].is-hovered,
input[type="reset"]:active,
input[type="reset"]:disabled,
input[type="reset"]:hover,
input[type="submit"].is-active,
input[type="submit"].is-disabled,
input[type="submit"].is-hovered,
input[type="submit"]:active,
input[type="submit"]:disabled,
input[type="submit"]:hover {
  background-color: #fff;
  border-color: #ccc;
  color: #222;
}

.btn.is-hovered,
.btn:hover,
button.is-hovered,
button:hover,
input[type="button"].is-hovered,
input[type="button"]:hover,
input[type="reset"].is-hovered,
input[type="reset"]:hover,
input[type="submit"].is-hovered,
input[type="submit"]:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.btn.is-active,
.btn:active,
button.is-active,
button:active,
input[type="button"].is-active,
input[type="button"]:active,
input[type="reset"].is-active,
input[type="reset"]:active,
input[type="submit"].is-active,
input[type="submit"]:active {
  -webkit-transform: none;
  transform: none;
  transition: none;
  box-shadow: none;
}

.btn.is-disabled,
.btn:disabled,
button.is-disabled,
button:disabled,
input[type="button"].is-disabled,
input[type="button"]:disabled,
input[type="reset"].is-disabled,
input[type="reset"]:disabled,
input[type="submit"].is-disabled,
input[type="submit"]:disabled {
  box-shadow: none;
  opacity: 0.6;
  -webkit-transform: none;
  transform: none;
  cursor: not-allowed;
  -webkit-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

.btn.is-disabled:hover,
.btn:disabled:hover,
button.is-disabled:hover,
button:disabled:hover,
input[type="button"].is-disabled:hover,
input[type="button"]:disabled:hover,
input[type="reset"].is-disabled:hover,
input[type="reset"]:disabled:hover,
input[type="submit"].is-disabled:hover,
input[type="submit"]:disabled:hover {
  text-decoration: none;
}

.btn + .btn,
.btn + button,
.btn + input[type="button"],
.btn + input[type="reset"],
.btn + input[type="submit"],
button + .btn,
button + button,
button + input[type="button"],
button + input[type="reset"],
button + input[type="submit"],
input[type="button"] + .btn,
input[type="button"] + button,
input[type="button"] + input[type="button"],
input[type="button"] + input[type="reset"],
input[type="button"] + input[type="submit"],
input[type="reset"] + .btn,
input[type="reset"] + button,
input[type="reset"] + input[type="button"],
input[type="reset"] + input[type="reset"],
input[type="reset"] + input[type="submit"],
input[type="submit"] + .btn,
input[type="submit"] + button,
input[type="submit"] + input[type="button"],
input[type="submit"] + input[type="reset"],
input[type="submit"] + input[type="submit"] {
  margin-left: 8px;
}

.btn:lang(vi),
button:lang(vi),
input[type="button"]:lang(vi),
input[type="reset"]:lang(vi),
input[type="submit"]:lang(vi) {
  font-family: SVN-Gilroy, -apple-system, BlinkMacSystemFont, San Francisco,
    Roboto, Segoe UI, Helvetica Neue, sans-serif;
}

.btn:lang(th),
button:lang(th),
input[type="button"]:lang(th),
input[type="reset"]:lang(th),
input[type="submit"]:lang(th) {
  font-family: Gilroy, Prompt, -apple-system, BlinkMacSystemFont, San Francisco,
    Roboto, Segoe UI, Helvetica Neue, sans-serif;
}

.btn--primary {
  background-color: $primaryColor;
  border-color: $primaryColor;
  color: #fff;
}

.btn--primary:visited {
  color: #fff;
}

.btn--primary.is-hovered,
.btn--primary:hover {
  background-color: $primaryColor;
  border-color: $primaryColor;
  color: #fff;
}

.btn--primary.is-active,
.btn--primary:active {
  background-color: #0b2e8f;
  border-color: #0b2e8f;
  color: #fff;
}

.btn--primary.is-disabled,
.btn--primary:disabled {
  background-color: $primaryColor;
  border-color: $primaryColor;
  color: #fff;
}

.btn--secondary {
  background-color: #fff;
  border-color: #fff;
  color: $primaryColor;
}

.btn--secondary:visited {
  color: $primaryColor;
}

.btn--secondary.is-hovered,
.btn--secondary:hover {
  background-color: #fff;
  border-color: #fff;
  color: $primaryColor;
}

.btn--secondary.is-active,
.btn--secondary:active {
  background-color: #fff;
  border-color: #fff;
  color: #0b2e8f;
}

.btn--secondary.is-disabled,
.btn--secondary:disabled {
  background-color: #fff;
  border-color: #fff;
  color: $primaryColor;
}

.btn--large {
  padding: 12px 16px;
}

.btn--small {
  font-size: 14px;
  padding: 6px 12px;
}

.btn--block {
  display: block;
  text-align: center;
  width: 100%;
}

.btn--block + .btn--block {
  margin: 8px 0 0;
}

.btn--link {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.btn--link,
.btn--link:visited {
  color: $primaryColor;
}

.btn--link.is-hovered,
.btn--link:hover {
  background-color: transparent;
  border-color: transparent;
  color: rgba(44, 80, 255, 0.8);
}

.btn--link.is-active,
.btn--link:active {
  background-color: transparent;
  border-color: transparent;
  color: #0b2e8f;
}

.btn--link.is-disabled,
.btn--link:disabled {
  background-color: transparent;
  border-color: transparent;
  color: $primaryColor;
}

.btn--link.is-hovered,
.btn--link:hover {
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
}

.btn--table-action {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  line-height: 1;
  padding: 4px;
  box-shadow: none;
}

.btn--table-action:visited {
  color: inherit;
}

.btn--table-action.is-hovered,
.btn--table-action:hover {
  background-color: transparent;
  border-color: transparent;
  color: $primaryColor;
}

.btn--table-action.is-active,
.btn--table-action:active {
  background-color: transparent;
  border-color: transparent;
  color: #0b2e8f;
}

.btn--table-action.is-disabled,
.btn--table-action:disabled {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
}

.btn--table-action.is-hovered,
.btn--table-action:hover {
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
}

.btn .icon-circled {
  vertical-align: baseline;
}

.nav-menu__item a:not(.btn),
.nav-submenu__item a:not(.btn),
.nav-submenu__title {
  text-decoration: none;
  outline: 0;
  display: -webkit-flex;
  display: flex;
  color: #4a4a4a;
  padding: 12px 16px;
  border-radius: 4px;
  transition: color 0.2s cubic-bezier(0, 0, 0.2, 1),
    background-color 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.nav-menu__item a:focus:not(.btn),
.nav-menu__item a:hover:not(.btn),
.nav-submenu__item a:focus:not(.btn),
.nav-submenu__item a:hover:not(.btn),
.nav-submenu__title:focus,
.nav-submenu__title:hover {
  background-color: #f3f5fd;
}

.nav-menu__item a:active:not(.btn),
.nav-menu__item a:focus:not(.btn),
.nav-submenu__item a:active:not(.btn),
.nav-submenu__item a:focus:not(.btn),
.nav-submenu__title:active,
.nav-submenu__title:focus {
  color: $primaryColor;
}

.banner {
  background: url("https://fundingsocieties.vn/static/465f70a4b1fd950351f3071814447f51638f85fa48837f91f994c25e2f3d64eb.webp");
  background-position: center;
  background-size: cover;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px #00000033;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  &__content {
  }
  &--mono {
    background: transparent;
    box-shadow: none;
  }
}

.products {
  background-color: rgb(241, 241, 242);
}

.requirement {
  background-color: rgb(243, 245, 253);
}

.list-checked li:before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 0.125em solid;
  border-left: 0.125em solid;
  width: 1em;
  height: 0.45em;
  left: -32px;
  top: 0.4em;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.list-checked--green li:before {
  border-color: #27e4cd;
}

.contact-us {
  .form-item {
    display: flex;
    flex-direction: column;
    &.mono {
      flex-direction: row;
    }
    label {
      font-size: 16px;
      color: #000000;
    }
    textarea,
    input {
      font-size: 16px;
      line-height: 1.5;
      padding: 8px 12px;
      border: 1px solid #cfd4d8;
      background-color: #ffffff;
      border-radius: 4px;
      transition: all 0.2 ease-in-out;
      outline: none;
      &:focus,
      &:active,
      &:focus-visible,
      &:hover {
        border-color: $primaryColor !important;
        border-width: 2px;
        outline: none;
      }
    }
    input {
      height: 39px;
    }
  }

  input[type="checkbox"]:checked:before {
    border-color: $primaryColor!important;
    background-color: $primaryColor;
    margin-right: 7.0px;
    background-size: 70%;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  input[type='checkbox'] {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    position: relative;
    float: left;
    margin: 0 7px 0 0;
    padding: 0;
    border: none;
    vertical-align: middle;
  }
  input[type='checkbox']:before,
  input[type='checkbox']:checked:before {
    content: "";
    display: inline-block;
    border: 2px solid #8f8f8f;
    border-radius: 4px;
    overflow: hidden;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 765.2'%3E%3Cpath fill='%23ffffff' d='M960,233.4L468.2,725.1c-53.4,53.4-140,53.4-193.3,0L40,490.3c-53.4-53.4-53.4-140,0-193.3c53.4-53.4,140-53.4,193.3,0	l138.2,138.2L766.6,40c53.4-53.4,140-53.4,193.3,0C1013.3,93.4,1013.3,180,960,233.4z'/%3E%3C/svg%3E");
  }
  input[type='checkbox']:checked:before {

   }
}


@media only screen and (max-width: 767px) {
  input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],select:focus,textarea {
      font-size:16px!important
  }
}